PUBLIC_ORIGIN=https://misxv.simplysoph.com
EVENT_BUCKET=
APP_KEY=
NOTION_TOKEN=
NOTION_SOURCE_ID=
SCOPED_NOTION_CONNECTION_CONFIRMED=
ADMIN_GOOGLE_CLIENT_ID=
ADMIN_EMAILS=saulpatinojr@gmail.com
DATA_RETENTION_DATE=
M365_TENANT_ID=
M365_CLIENT_ID=
M365_CLIENT_SECRET=
